.text-center
  .p
    Personally done!
  %br
  .p
    Welcome! Please sign in to view and edit translations!
  %br
  -if user_signed_in?
    .p
      You're already logged in!
      Click below to view your translations!
    = link_to 'Enter', topics_path, class: 'btn btn-primary'
  -else
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
    or
    = link_to "Login", new_user_session_path, class: 'btn btn-primary'
%br
%br
.p
  Stay tuned for updates in the near future! There will be more functionality soon, so keep refreshing those pages! :)

#footer
  .p
    If you have any questions, feel free to contact me at
    %a{:href => "mailto:susan@marpy.net"} susan@marpy.net

